include MANIFEST.in 
include pbpscript patch.diff main.aap pbp/wwwsearch.zip

include README.txt LICENSE.txt
include 3rdparty COPYING.*

include buildbot run_pbpcript.*

global-exclude */.svn/*
